@charset "utf-8";
@import "syntax.scss";

$width: 920px;
$radius: 2px;
$orange: #f70;

html,body{
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #555;
}

h1,h2,h3,h4,h5,h5{
  font-family: 'HelveticaNeue-CondensedBold', 'helvetica neue', sans-serif;
  color: #444;
  margin: 0 0 24px 0;
}

a{
  color: #333;

  &:hover{
    color: $orange;
  }
}

*{
  box-sizing: border-box;
}

img.screenshot{
  margin-left: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
  max-width: 95%;
}

header{
  background: #fafafa;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  padding: 10px 20px;
  margin: 0;

  a{
    background: $orange;
    border-radius: 3px;
    color: black;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 20px;
  }

  a:hover{
    color: white;
  }

  h3{
    margin: 0 auto;
    max-width: $width;
    padding: 10px 0;
    font-size: 14px;
    font-weight: normal;
    font-family: inherit;
  }
}

code{
  color: #333;
  font-family: Monaco, monospace;
  font-size: 0.9em;
}

pre{
  font-size: 0.9em;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background: #ddd;
  border-radius: $radius;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.2em;
}

h4{
  font-size: 1.0em;
}

.wrapper{
  max-width: $width;
  line-height: 150%;
  min-height: 640px;
  margin: 0 auto 40px auto;
  padding: 0 20px;
  position: relative;
}

#navigation{
  position: absolute;
  top: 20px;
  width: 120px;

  *{
    margin: 0;
    padding: 0;
  }

  h3{
    font-weight: normal;
    margin-bottom: 8px;
    color: #555;
  }

  ul + h3{
    margin-top: 15px;
  }

  ul{
    border-top: 1px dotted #ccc;
  }

  li{
    list-style: none;
    display: block;

    a{
      display: block;
      border-bottom: 1px dotted #ccc;
      text-decoration: none;
      padding: 0 5px;
      line-height: 30px;
      color: #333;
      font-size: 0.85em;
    }

    a:hover{
      text-decoration: underline;
      background: $orange;
    }
  }
}

section.content{
  margin: 0 0 0 140px;
  padding: 24px 0 0 1px;
  min-height: 800px;

  iframe{
    max-width: 100%;
  }

  strong{
    color: #555;
  }
}

.feature-comparison + table{
  border-top: 1px solid #555;
  margin-left: 10px;

  th,td{
    border-bottom: 1px solid #555;
    line-height: 1.75em;
    width: 80px;
    text-align: center;
  }

  th{
    color: #777;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.85em;
  }

  td:nth-child(1),th:nth-child(1){
    width: 300px;
    text-align: left;
    padding-left: 10px;
  }
}

@media (max-width: 640px) {
  #navigation{
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 20px;
    height: 40px;
    overflow: hidden;

    h3:first-child:before{
      content: "> ";
    }

    h3:first-child{
      color: $orange;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  #navigation.expanded{
    height: auto;
    overflow: visible;
  }

  section.content{
    margin: 0;
  }

}

.news-summary h3 small{
  font-weight: normal;
}

article{
  h1{
    margin: 40px 0 10px 0;
  }
}

dl{
  position: relative;

  dt{
    position: absolute;
    left: 0;
  }
  dd{
    position: relative;
    margin: 0 0 5px 120px;
  }

  .try-now a{
    background: #f70;
    color: black;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 4px 10px;
    position: relative;
    left: -10px;

    &:hover{
      background: lighten($orange, 20%);
      text-shadow: none;
    }
  }
}

/* Slider */

.banner { 
  position: relative; 
  overflow: auto; 
  box-sizing: border-box;
  margin: 4px;
  box-shadow: 1px 1px 3px black; 
  background: #555;
  border-radius: 2px;

  *{
    margin: 0; 
    padding: 0;
  }

  li { 
    list-style: none; margin: 0; padding: 0; 
  }
  ul li { 
    float: left; 
    width: 100%; 
    height: 320px; 
    position: relative;

    img{
      width: 732px;
      height: 320px;
    }

    cite{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background: rgba(0, 0, 0, 0.6);
      font-style: normal;
      text-shadow: 1px 1px 1px black;
    }
  }

  .dots {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    right: 0;
    top: 30px;
  }

  .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    
    text-indent: -999em;
    
    border: 2px solid #fff;
    border-radius: 6px;
    
    cursor: pointer;
    opacity: .4;
    
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
  }
  
  .dots li.active {
    background: #fff;
    opacity: 1;
  }
}


.enter-destination{
  box-shadow: 3px 3px 5px black;
  border: 2px solid #888;
  border-radius: 4px;
  background: linear-gradient(#222, #333);
  padding: 0 20px 20px 20px;
  margin: 40px 20px;

  div{
    font-size: 2em;

    input, button{
      font: inherit;
      height: 40px;
      border-radius: 4px;
    }

    button{
      background: #f70;
      font-size: 0.8em;
      padding: 0 10px;
      border: none;
      border-top: 1px solid lighten(#f70, 20%);
      border-left: 1px solid lighten(#f70, 20%);
      border-right: 1px solid darken(#f70, 20%);
      border-bottom: 1px solid darken(#f70, 20%);
    }

    button:hover{
      background: lighten(#f70, 10%);
    }
  }
}

cite{
  display: block;
  font-style: normal;
  color: #888;
  margin-left: 10px;
}

.feature{
  box-shadow: 3px 3px 5px black;
  border: 1px solid #888;
  border-radius: 4px;
  background: linear-gradient(#222, #333);
  padding: 0 8px 8px 8px;
  margin: 10px;
  width: 220px;
  float: left;
  font-size: 0.85em;

  img{
    width: 100%;
    border-radius: 2px;
  }
}

.downloads{
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  td{
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding: 8px;

    img{
      width: 32px;
      padding: 8px;
      float: left;
      margin-right: 8px;
      opacity: 0.8;
    }
  }

  th{
    font-weight: normal;
    font-size: 0.85em;
    color: #777;
  }

  th:first-child{
    text-align: left;
    padding-left: 48px;
  }
  td + td {
    text-align: center;
  }
}